body {
  /*Colors***********/
  --blue: #0065fc;
  --blue-light: #deebff;
  --grey: #f2f2f2;
  --black: #000000;
  --white: #ffffff;

  color: var(--black);
  /******************/

  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

a,
a:visited,
a:active {
  color: var(--black);
  text-decoration: none;
}

/*****HEADER*****/
header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 100px;
}

header .logo img {
  margin-left: 8px;
  max-width: 100%;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  padding: 16px;
  position: relative;
  line-height: 1; /* Fix 1px difference position ::before Chrome/Firefox */
}

header nav ul li::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 0;
  height: 4px;
  width: 100%;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  background-color: var(--blue);
}

header nav ul li:hover::before {
  transform: scaleX(1);
}

header nav ul li:hover a {
  color: var(--blue);
}

/*****Formulaire*****/
section.search {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;
}

h1 {
  font-size: 24px;
}

.search p {
  margin-bottom: 32px;
}

.search button i,
.search button span:last-child {
  display: none;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: max-content;
  height: 44px;
  border: 1px solid var(--grey);
  border-radius: 15px;
}

.search-container .fa-map-marker-alt {
  padding: 0 16px;
  height: 44px;
  line-height: 44px;
  background: var(--grey);
  border-radius: 15px 0 0 15px;
}

.search-container input {
  height: 42px;
  font-weight: bold;
  padding-left: 12px;
  border: none;
}

.search-container button {
  background-color: var(--blue);
  border-radius: 0 15px 15px 0;
  border: none;
  height: 44px;
  padding: 0 20px 0 16px;
  color: var(--white);
  font-weight: bold;
}

/**Filtres**/
fieldset {
  border: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 0;
}

fieldset div {
  display: flex;
  flex-wrap: wrap;
}

fieldset h2,
fieldset label {
  font-size: 18px;
}

fieldset h2 {
  margin-right: 16px;
}

fieldset label i.fas {
  border-radius: 50%;
  background: var(--blue-light);
  color: var(--blue);
  height: 52px;
  width: 52px;
  text-align: center;
  line-height: 52px;
  transform: translateX(-3px);
}

fieldset label {
  height: 52px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 16px 8px 0;
  border-radius: 50px;
  border: 2px solid var(--grey);
  text-transform: capitalize;
  font-weight: bold;
  background: var(--white);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

fieldset label:hover {
  cursor: pointer;
  color: var(--blue);
  background-color: var(--blue-light);
}

fieldset label span {
  display: inline-block;
  padding: 0 20px 0 10px;
}

fieldset label span span {
  text-transform: none;
  padding: 0;
}

.search .info-results {
  padding-left: 36px;
  position: relative;
}

.info-results .fas {
  position: absolute;
  left: 0;
  top: -6px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  border: 1px solid var(--grey);
  color: var(--blue);
  margin-right: 8px;
}

/*****Cards*****/
article .rating {
  padding: 0 16px;
}
article .rating .fas{
  color: var(--grey);
  font-size: 14px;
}
article .rating .fas.checked{
  color: var(--blue);
}
article a::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*****Hébergements ville *****/
.lodgings-section article {
  background: var(--white);
  max-width: 300px;
  box-shadow: 0 0 10px 5px var(--grey);
  border-radius: 30px;
  padding: 0 0 12px;
  position: relative;
}

.lodgings-section article img{
  width: 100%;
  height: 150px;
  border-radius: 30px 30px 0 0;
  border: 8px solid var(--white);
  object-fit: cover;
}
.lodgings-section article h3{
  padding: 0 16px;
  margin: 0;
}

.lodgings-section p {
  padding: 0 16px;
  margin: 8px 0;
}

/*****Popular*****/
.popular-section article {
  background: var(--white);
  max-width: 400px;
  box-shadow: 0 0 10px 5px var(--grey);
  border-radius: 30px;
  position: relative;
  display:flex;
}
.popular-section article .details-container {
  display:flex;
  flex-direction: column;
  padding: 8px;
  width: 18ch;
}
.popular-section article img {
  width: 180px;
  height: 180px;
  border-radius: 30px 0 0 30px;
  border: 8px solid var(--white);
  object-fit: cover;
}
.popular-section article h3 {
  margin: 8px 0 ;
}

.popular-section p {
  margin: 0;
}

.popular-section .rating {
  padding-left: 0;
  margin-top: auto;
}


/*****MediaQueries*****/
@media screen and (max-width: 768px){
  header {
    flex-direction: column;
    padding: 16px 0;
  }

  header nav {
    width: 100%;
  }

  header nav li {
    text-align: center;
    flex-basis: 50%;
  }

  header nav ul li::before {
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    top: 100%;
    background-color: var(--grey);
  }

  header nav ul li.active::before {
    background-color: var(--blue);
    top: 100%;
  }

  .search-container {
    max-width: 400px;
    margin: 0 auto;
  }

  .search input[type="text"] {
    flex-grow: 1;
    width: 100%;
  }

  .search button {
    padding: 0;
    border-radius: 15px;
  }
  .search button span:first-child {
    display: none;
  }

  .search button span:last-child {
    display: inline;
  }

  .search button i {
    display: inline-block;
    padding: 0 14px;
  }

  fieldset label {
    margin-right: 8px;
  }

  .results-container section article {
    margin: 8px;
    max-width: 100%;
  }
  
  .lodgings-section article img {
    height: 120px;
  }

  .popular-section article img {
    width: 140px;
    max-width: 35%;
    height: 140px;
  }
}
