body {
  /*Colors***********/
  --blue: #0065fc;
  --blue-light: #deebff;
  --grey: #f2f2f2;
  --shadow: #D3D3D3;
  --shadow-hover: #7E7E7E;
  --black: #000000;
  --white: #ffffff;

  color: var(--black);
  /******************/

  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

a,
a:visited,
a:active {
  color: var(--black);
  text-decoration: none;
}

/*****HEADER*****/
header {
  width: 100%;
  margin: 0 auto;
  padding: 34px 40px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 100px;
}

header .logo img {
  margin-left: 8px;
  max-width: 100%;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  padding: 16px;
  position: relative;
  line-height: 1; /* Fix 1px difference position ::before Chrome/Firefox */
}

header ul li.active a {
  color: var(--blue);
}
header nav ul li::before {
  content: "";
  position: absolute;
  top: -36px;
  left: 0;
  height: 4px;
  width: 100%;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  background-color: var(--blue);
}

@media (hover:hover) {
  header nav ul li:hover::before {
    transform: scaleX(1);
  }
}

main {
  padding: 0 24px;
}
/*****Formulaire*****/
section.search {
  margin: 0 auto;
  padding: 16px;
}

h1 {
  font-size: 24px;
}

.search p {
  margin-bottom: 32px;
}

.search button i,
.search button span:last-child {
  display: none;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: max-content;
  height: 44px;
  border: 1px solid var(--grey);
  border-radius: 15px;
}

.search-container .fa-map-marker-alt {
  padding: 0 16px;
  height: 44px;
  line-height: 44px;
  background: var(--grey);
  border-radius: 15px 0 0 15px;
}

.search-container input {
  height: 42px;
  font-weight: bold;
  padding-left: 12px;
  border: none;
}

.search-container button {
  background-color: var(--blue);
  border-radius: 0 15px 15px 0;
  border: none;
  height: 44px;
  padding: 0 20px 0 16px;
  color: var(--white);
  font-weight: bold;
}

/**Filtres**/
.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 0;
}

.filter div {
  display: flex;
  flex-wrap: wrap;
}

.filter h2,
.filter label {
  font-size: 18px;
}

.filter h2 {
  margin-right: 16px;
}

.filter label i.fas {
  border-radius: 50%;
  background: var(--blue-light);
  color: var(--blue);
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-3px);
}

.filter label {
  height: 52px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 16px 8px 0;
  border-radius: 50px;
  border: 3px solid var(--grey);
  text-transform: capitalize;
  font-weight: bold;
  background: var(--white);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.filter label:hover {
  cursor: pointer;
  color: var(--blue);
  background-color: var(--blue-light);
}

.filter label span {
  display: inline-block;
  padding: 0 20px 0 10px;
}

.filter label span span {
  text-transform: none;
  padding: 0;
}

.search .info-results {
  padding-left: 36px;
  position: relative;
}

.info-results .fas {
  position: absolute;
  left: 0;
  top: -6px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  border: 1px solid var(--grey);
  color: var(--blue);
  margin-right: 8px;
}

/*****Cards sections*****/
.results-container {
  display: flex;
  padding: 16px;
  width: 100%;
  justify-content: space-between;
  gap: 32px;
}
.cards-section {
  background-color: var(--grey);
  border-radius: 25px;
  padding: 16px 24px;
}
.lodgings-section {
  flex-basis: calc( 100% * 2/ 3);
}
.popular-section {
  flex-basis: calc( 100% / 3);
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.cards-container article img {
  max-width: 100%;
  height: 140px;
  border: 8px solid var(--white);
  object-fit: cover;
}
.more {
  border: none;
  margin: 32px 0 16px;
  font-weight: bold;
  position: relative;
  color: var(--black);
  background-color: var(--grey);
}
.more::before {
  content:"";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  transition: transform .3s ease-in-out, color .3s ease-in-out;
  background-color: var(--blue);
}
.more:hover {
  cursor: pointer;
  color: var(--blue);
}
.more:hover::before {
  transform: scaleX(1);
}

/*****Cards*****/
article {
  background: var(--white);
  box-shadow: 0 5px 10px 5px var(--shadow);
  border-radius: 30px;
  transition: box-shadow .3s ease-in-out;
  position: relative;
}
article .rating {
  padding: 0 16px;
}
article .rating .fas{
  color: var(--grey);
  font-size: 14px;
}
article .rating .fas.checked{
  color: var(--blue);
}
article a::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cards-container article:hover {
  box-shadow: 0 5px 10px 5px var(--shadow-hover);
}

.activities .cards-container {
  padding: 16px;
}
/*****Hébergements ville *****/
.lodgings-section article {
  flex-basis: calc( (100% / 3) - (32px / 3) );
  min-width: 165px;
  padding: 0 0 12px;
  display: flex;
  flex-direction: column;
}

.lodgings-section article img{
  border-radius: 30px 30px 0 0;
}
.lodgings-section article h3{
  padding: 0 16px;
  margin: 0 0 8px;
}

.lodgings-section p {
  padding: 0 16px;
  margin: auto 0 8px;
}

/*****Popular*****/
.popular-section h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}
.popular-section article {
  width: 100%;
  min-height: 150px;
  display:flex;
}
.popular-section article .details-container {
  display:flex;
  flex-direction: column;
  padding: 8px 8px 16px;
  flex-basis: calc(100% * 2 / 3);
}
.popular-section article .img {
  flex-basis: calc(100% / 3);
}

.popular-section article img {
  border-radius: 30px 0 0 30px;
  height: 100%;
  max-height: 150px;
}
.popular-section article h3 {
  margin: 8px 0 ;
  max-width: 18ch;
}

.popular-section p {
  margin: 0;
}

.popular-section .rating {
  padding-left: 0;
  margin-top: auto;
}

/*****Activities****/
.activities {
  margin: 48px auto;
  padding:0 24px;
}
.activities .cards-container {
  gap: 32px;
  flex-flow: column wrap;
  height: 500px;
  justify-content: space-between;
  padding: 0;
}
.activities article {
  width: calc(100% / 4 - (3 * 40px) / 4);
  display: flex;
  flex-direction: column;
}
.activities  article img{
  border-radius: 30px 30px 0 0;
  border: none;
  height: 100%;
}
.activities h3 {
 padding: 0 16px;
 font-size: 16px;
}
.activities .full  img {
  height: 450px;
}
.activities .quarter img  {
 height: 120px;
}
.activities .half img {
  height: 220px
}

/*****Footer*****/
footer {
  padding: 48px 48px 24px;
  background-color: var(--grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
}
.footer-list {
  width: calc(100% / 3 - 16px);
}
.footer-list ul {
  list-style: none;
  padding: 0;
  line-height: 2;
}
.footer-list li a {
  transition: color .3s ease-in-out;
}
.footer-list li:hover a {
  color: var(--blue);
}


/*****MediaQueries*****/
@media screen and (max-width: 992px){
  main {
    padding: 0 0;
  }
  .results-container {
    flex-direction: column;
    padding: 0;
  }
  .cards-section {
    padding: 16px;
    border-radius: 0;
  }
  .popular-section {
    order: 1;
  }
  .lodgings-section {
    order: 2;
    background-color: var(--white);
  }
  .popular-section .cards-container {
    flex-direction: row;
    justify-content: center;
  }
  .popular-section article {
    flex-basis: calc(50% - 8px);
  }
  .more {
    background-color: var(--white);
  }

  .activities .cards-container {
    flex-direction: row;
    gap: 16px;
    height: auto;
  }
  .activities article {
    width: calc(50% - 16px);
  }
  .activities article.activities-item img {
    height: 140px;
  }

  footer {
    padding: 48px 24px 24px;
  }
  .footer-list {
    width: calc(50% - 16px);
  }
}


@media screen and (max-width: 768px){
  header {
    flex-direction: column;
    padding: 16px 0;
  }

  header nav {
    width: 100%;
  }

  header nav li {
    text-align: center;
    flex-basis: 50%;
  }

  header nav ul li::before {
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    top: 100%;
    background-color: var(--grey);
    transform: unset;
  }

  header nav ul li.active::before {
    background-color: var(--blue);
    top: 100%;
  }

  .search-container {
    max-width: 400px;
    margin: 0 auto;
  }

  .search input[type="text"] {
    flex-grow: 1;
    width: 100%;
  }

  .search button {
    padding: 0;
    border-radius: 15px;
  }
  .search button span:first-child {
    display: none;
  }

  .search button span:last-child {
    display: inline;
  }

  .search button i {
    display: inline-block;
    padding: 0 14px;
  }

  fieldset label {
    margin-right: 8px;
  }

  .popular-section .cards-container {
    flex-direction: column;
  }

  .cards-container article {
    width: 100%;
  }

  .cards-container {
    justify-content: flex-start;
    flex-direction: column;
  }

  .cards-container article img {
    border-width: 5px;
  }

  .activities {
    padding: 0 16px;
  }
  
  footer {
    padding: 48px 16px 24px;
  }
  .footer-list {
    width: 100%;
  }
}
